html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overscroll-behavior-y: none /* to avoid scroll bounce */
}

/* Fisheye Vignette Effect */
.fisheye-overlay {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9999;
    background: radial-gradient(
        ellipse at center,
        transparent 0%,
        transparent 40%,
        rgba(0, 0, 0, 0.1) 60%,
        rgba(0, 0, 0, 0.3) 80%,
        rgba(0, 0, 0, 0.6) 100%
    );
}

#scroll-instruction {
  position: absolute;
  z-index: 2000;
  top: 20px; 
  right: 20px; 
  padding: 15px 20px;
  color: white;
  font-size: 1.5rem;
  font-family: "Balthazar", "Michroma", sans-serif;
  text-decoration: none;
  transition: all 1s ease;
}

/* text elements */
.text-container {
  z-index: 9999;
  width: 99vw;
  height: 99vh;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Balthazar", Geneva, Tahoma, sans-serif;
  /* font-size: 3em; */
  font-size: clamp(1rem, 2vw, 2rem); /* this sets a minimum, preferred, and maximum size */
  color: white;
  user-select: none;
}

.text-div-center {
  position: absolute;
  width: 90%;         
  max-width: 1500px;
  text-align: center;     
  transform: translate(-50%, -50%) scale(0.8); 
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;
}

.text-div-right {
  position: absolute;
  width: 80%;
  max-width: 1500px;   
  left: 55%;
  top: 40%;
  text-align: left;     
  transform: translate(-50%, -50%) scale(0.8); 
  transition: opacity 0.5s, transform 0.5s;
  display: flex;
  flex-direction: column;
}

.text-div-left {
  position: absolute;
  width: 80%;
  max-width: 1500px;   
  left: 30%;
  top: 50%;
  text-align: left;     
  transform: translate(-50%, -50%) scale(0.8); 
  transition: opacity 0.5s, transform 0.5s;
  display: flex;
  flex-direction: column;
}

#text9 {
  left:50%;
}
#text10 {
  top: 30%;
}
#text11 {
  top: 40%;
}

.button-container {
  margin-top: 2em;
  display: flex;
  gap: 2em; 
  justify-content: center;
  align-items: center;
}

.outlined-button {
  padding: 1em 2em;
  border: 2px solid white;
  border-radius: 50px;
  color: white;
  text-decoration: none;
  font-size: 0.8em;
  transition: all 0.3s ease;
}

.outlined-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: scale(1.05);
}

/* tunnel experience */
.experience {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height:100vh;
  z-index: 2;
}

.scrollTarget {
  position: absolute;
  height: 1000vh;
  width: 100px;
  top: 0;
  z-index: 0;
}

.vignette-radial {
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  pointer-events: none;
}

.vignette-radial:after {
  pointer-events: none;
  content: ' ';
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background: radial-gradient(circle, transparent 60%, black 150%);
}

